<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <fa-icon [icon]="['fas', 'user']"></fa-icon> {{userName}}
            </h2>
        </div>
    </div>
    <div class="row" *ngIf="isBusy">
        <div class="alert alert-primary">
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon> Caricamento in corso. Attendere prego...
        </div>
    </div>
    <div class="row" *ngIf="!isBusy">
        <div class="col-md-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>nome</th>
                        <th>{{firstName}}</th>
                    </tr>
                    <tr>
                        <th>cognome</th>
                        <th>{{lastName}}</th>
                    </tr>
                    <tr>
                        <th>email</th>
                        <th>{{email}}</th>
                    </tr>
                    <tr>
                        <th>ultimo accesso</th>
                        <th>{{lastAccessDate | moment : false}}</th>
                    </tr>
                    <tr>
                        <th>quanto tempo fa</th>
                        <th>{{lastAccessDate | moment : true }}</th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <label>
                                <input type="checkbox" checked="{{isEnabled}}" disabled>
                            </label>abilitato
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <label>
                                <input type="checkbox" checked="{{isEnabled}}" disabled>
                            </label>accesso amministrativo
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"></div>
        <a class="btn btn-primary" [routerLink]="['..']">
            Torna all'elenco
        </a>
    </div>
</div>



<a [routerLink]='["users", 32]'>Details</a>
