{{authenticatedUser}}
<ul>
    <li>
        <a [routerLink]="['sign-in']">Go to SignIn</a>
    </li>
    <li>
        <a [routerLink]="['users']">Go to Users</a>
    </li>
</ul>

<button class="btn btn-primary" (click)="openDialog()">
    Open sample dialog
</button>


