<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <fa-icon [icon]="['fas', 'users']"></fa-icon> Lista utenti <small>trovati {{users?.length}}
                    utenti</small>
                <div class="float-right">
                    <button class="btn btn-primary" (click)="fetch()">
                        <fa-icon [icon]="['fas', 'sync-alt']"></fa-icon>
                    </button>
                </div>
            </h2>
        </div>
    </div>
    <div class="row" *ngIf="isBusy">
        <div class="col-md-12">
            <div class="alert alert-info">
                <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
                Caricamento in corso...
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-search [searchFilter]="filter"
                (searchRequested)="searchOnChildRequested($event)"
                (clearRequested)="clearOnChildRequested()"></app-search>

        </div>
    </div>
    <div class="row" *ngIf="!isBusy">
        <div class="col-md-12">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>username</th>
                        <!-- <th>nome</th>
                        <th>cognome</th>
                        <th>email</th>-->
                        <th>abilitato</th>
                        <th>amministratore</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let single of filteredUsers">
                        <td>{{single.userName}}</td>
                        <!-- <td>{{single.firstName}}</td>
                        <td>{{single.lastName}}</td>
                        <td>{{single.email}}</td>-->
                        <td>{{single.isEnabled}}</td>
                        <td>{{single.isAdministrator}}</td>
                        <td>
                            <div class="btn-group">
                                <a [routerLink]="[single.userId]" class="btn btn-primary">
                                    <fa-icon [icon]="['fas', 'search']"></fa-icon>
                                </a>
                                <a [routerLink]="[single.userId, 'update']" class="btn btn-info">
                                    <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
