<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Lista utenti
                <div class="pull-right">
                    <button class="btn btn-primary" (click)="fetch()">
                        <fa-icon [icon]="['fas', 'sync-alt']"></fa-icon>
                    </button>
                </div>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>username</th>
                        <th>nome</th>
                        <th>cognome</th>
                        <th>email</th>
                        <th>abilitato</th>
                        <th>amministratore</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let single of users">
                        <td>{{single.userName}}</td>
                        <td>{{single.firstName}}</td>
                        <td>{{single.lastName}}</td>
                        <td>{{single.email}}</td>
                        <td>{{single.isEnabled}}</td>
                        <td>{{single.isAdministrator}}</td>
                        <td>
                            <a [routerLink]="['users', single.userId]" class="btn btn-primary">
                                <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<span class="badge badge-info">
    {{authenticatedUser}}
</span>

<br />
<br />

<a [routerLink]="['sign-in']">Go to sign-in</a> -->

<ul>
    <li>
        <a [routerLink]="['sign-in']">Go To SignIn</a>
    </li>
    <li>
        <a [routerLink]="['users']">Go To Users</a>
    </li>
</ul>
