<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Autenticazione
                </div>
                <div class="card-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="userName">Username</label>
                            <input type="text" [(ngModel)]="userName" name="userName" required maxlength="255" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" [(ngModel)]="password" name="password" required maxlength="255" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" (click)="signIn()" [disabled]="isBusy">
                                <div *ngIf="isBusy">
                                    <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon> Signing-in...
                                </div>
                                <div *ngIf="!isBusy">
                                    <fa-icon [icon]="['fas', 'lock']"></fa-icon> Sign-in
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<a [routerLink]="['']">Go to Home</a>
