{{authenticatedUser}}
<ul>
    <li>
        <a [routerLink]="['sign-in']">Go to SignIn</a>
    </li>
    <li>
        <a [routerLink]="['users']">Go to Users</a>
    </li>
</ul>

<button class="btn btn-primary" (click)="openDialog()">
    Open sample dialog
</button>

<p>
    {{ 'HELLO' | translate }}
</p>
<p>
    {{ 'home.welcome' | translate }}
</p>

<button class="btn btn-primary" (click)="setLang('it')">Italiano</button>
<button class="btn btn-primary" (click)="setLang('en')">English</button>
<button class="btn btn-primary" (click)="setLang('de')">Deutsch</button>
