<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <fa-icon [icon]="['fas','user']"></fa-icon> Update {{userName}}
            </h2>
        </div>
    </div>
    <div class="row" *ngIf="isBusy">
        <div class="alert alert-primary">
            <fa-icon [icon]="['fas','spinner']" [spin]="true"></fa-icon> Caricamento in corso. Attendere prego...
        </div>
    </div>
    <div class="row" *ngIf="!isBusy">
        <div class="col-md-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>nome</th>
                        <td>
                            <input type="text" [(ngModel)]="firstName" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <th>cognome</th>
                        <td>
                            <input type="text" [(ngModel)]="lastName" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <th>e-mail</th>
                        <td>
                            <input type="text" [(ngModel)]="email" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <label>
                                <input type="checkbox" [(ngModel)]="isEnabled">
                                abilitato
                            </label>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary btn-block" (click)="update()">
                Salva
            </button>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary btn-block" [routerLink]="['..']">
                Annulla
            </a>
        </div>
    </div>
</div>
