<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <fa-icon [icon]="['fas','user']"></fa-icon> {{userName}}
            </h2>
        </div>
    </div>
    <div class="row" *ngIf="isBusy">
        <div class="alert alert-primary">
            <fa-icon [icon]="['fas','spinner']" [spin]="true"></fa-icon> Caricamento in corso. Attendere prego...
        </div>
    </div>
    <div class="row" *ngIf="!isBusy">
        <div class="col-md-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>nome</th>
                        <td>{{firstName}}</td>
                    </tr>
                    <tr>
                        <th>cognome</th>
                        <td>{{lastName}}</td>
                    </tr>
                    <tr>
                        <th>e-mail</th>
                        <td>{{email}}</td>
                    </tr>
                    <tr>
                        <th>ultimo accesso</th>
                        <td>{{lastAccessDate | moment : false }}</td>
                    </tr>
                    <tr>
                        <th>quanto tempo fa?</th>
                        <td>{{lastAccessDate | moment : true : 'YYYY'}}</td>
                    </tr>
                    <tr>
                        <th>ultimo accesso (raw)</th>
                        <td>{{lastAccessDate}}</td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <label>
                                <input type="checkbox" checked="{{isEnabled}}" disabled>
                                abilitato
                            </label>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <label>
                                <input type="checkbox" checked="{{isAdministrator}}" disabled>
                                accesso amministrativo
                            </label>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" [routerLink]="['..']">
                Torna all'elenco
            </a>
        </div>
    </div>
</div>
