<div class="modal-header">
    <h4 class="modal-title">
        Creazione utente
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>In questo punto ci va il form di creazione utente</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="create()">Create</button>
</div>
