<nav class="navbar navbar-light bg-light">
    <span class="navbar-text" *ngIf="pwaService.canInstall()" (click)="pwaService.executeInstall()">
        <fa-icon [icon]="['fas', 'save']" [spin]="true"></fa-icon> Install
    </span>
    - Footer -
    <span class="navbar-text" *ngIf="pwaService.canUpdate()" (click)="pwaService.executeUpdate()">
        <fa-icon [icon]="['fas', 'satellite-dish']" [spin]="true"></fa-icon> Update
    </span>
</nav>
