<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search user..." aria-label="Recipient's username"
        aria-describedby="button-addon2" [(ngModel)]="searchFilter">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" *ngIf="searchFilter" (click)="clearSearch()">
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
        </button>
        <button class="btn btn-outline-secondary" type="button" (click)="executeSearch()">
            <fa-icon [icon]="['fas', 'search']"></fa-icon>
        </button>
    </div>
</div>
