<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['']">iTuna {{isExpanded}}</a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngClass]="{ 'collapse' : !isExpanded }">
        <div class="navbar-nav" *ngIf="sessionHolder.isAuthenticated">
            <a class="nav-item nav-link" href="#">
                Welcome {{sessionHolder.user.firstName}}
            </a>
        </div>
        <div class="navbar-nav" *ngIf="!sessionHolder.isAuthenticated">
            <a class="nav-item nav-link" [routerLink]="['about']">About</a>
        </div>
        <div class="navbar-nav" *ngIf="sessionHolder.isAuthenticated">
            <a class="nav-item nav-link" [routerLink]="['users']">Users</a>
        </div>
        <div class="navbar-nav" *ngIf="sessionHolder.isAuthenticated">
            <a class="nav-item nav-link" href="#" (click)="signOut()">
                Sign-out
            </a>
        </div>
    </div>
</nav>
